html {
  padding: 20px;
  background-color: #D9D9D9;
}

#welcome {
  background-color: #D9D9D9;
}

#top-cont {
  width: 500px;
  height: 230px;
  float: left;
}

#send {
  position: relative;
  top: -12px;
  left: 15px;
}

#name-and-text-cont {
  float: right;
  margin: 20px;
}

#messageForm {
  padding: 5px;
}

#part-containter {
  text-align: center;
/*  position: relative;
  top: -220px;
  left: 600px;
  width: 230px;*/
  float: right;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}
#board {
/*  display: inline-block;
*/  position: absolute;
  top: 340px;
  left: 20px;
}

#messages {
  position: absolute;
  top: 410px;
  left: 20px;
  font-size: 15px;
  padding: 12px;
}
